@media screen and (min-width: 480px) {  /*Iphone screen size - 480 is the min width that it will apply this CSS */
  
  /**********************************
  TWO COLUMN LAYOUT
  ***********************************/
  
  #primary {
    float:left;
    width: 60%;
  }

 #secondary {
   float:right;
   width: 40%;
  } 
  
  #third form{    /* Nick's Form */


  max-width: 150px;
  margin: 15px auto;
  padding: 15px 20px;
  background: #747373;
  border-radius: 8px;
  text-align: left;
  float:left;

  }


  
  /**********************************
  PAGE: PORTFOLIO
  ***********************************/
  
 #gallery li {
  width: 28.333%; /* this will allow us to put 3 images in a row.  3*28.333 + 3*(2.5*2) = 85 + 15 = 100  */
 }
  
  
  
  /**********************************
  PAGE: ABOUT
  ***********************************/
  #profile-image{
    float:left;
    margin-right: 10px;
  }
  
  
}

  /**********************************
  HEADER
  ***********************************/

@media screen and (min-width: 660px) {  /* this is for desktop viewing */

  nav {
    background: none;
    float:right;
    margin-right: 5px;
    width: 45%;
    font-size: 1.135em;
    text-align:right;
  }
    

  #logo {
    float:left;
    margin-left:5%;
    text-align:left;
    width:45%;
  }

  h1{
      font-size: 2.5em;
  }

  h2{
    font-size: 0.83em;
    margin:20px;
  }

    header{
      border-bottom: 8px solid #C2F0FF;
      margin-bottom: 80px;
  }

}



